<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  <!-- Load static template tag library here -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!-- outline for logo -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Limelight&effect=outline">
    <!-- tailwind elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <!-- bebas font -->
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;800&display=swap" rel="stylesheet">
    <script>
        tailwind.config={
            theme: {
                extend: {
                    colors: {
                        accentColor: "#E83046",
                        text: "#ffffff",
                        background1: "#2c2c2c",
                        background2: "#1E1E1E",
                    },
                },
            },
        };
    </script>
    <title>Landing Page</title>
</head>
<body class="bg-background1">
    <!-- NAVBAR -->
    <div class="nav-container bg-gradient-to-b from-background1 to-[#ffffff00] bg-background2 sticky top-0 h-[60px] p-[16px] z-[20] font-sans">
        <div class="content-wrapper-nav max-w-[896px] h-full mx-auto flex justify-between items-center">
            <div class="nav-logo font-extrabold text-white transition-[5s] hover:text-accentColor">GYM-LOGO</div>
            <div class="nav-links-container flex relative left-[30px]">
                <a href="{% url 'home' %}" class="nav-login text-accentColor text-[15px] font-medium px-[10px] py-[2px] rounded-md transition-[5s] hover:text-accentColor">Home</a>
                <a href="{% url 'shop' %}" class="nav-login text-white text-[15px] font-medium px-[10px] py-[2px] rounded-md transition-[5s] hover:text-accentColor">Shop</a>
                <a href="{% url 'blog' %}" class="nav-login text-white text-[15px] font-medium px-[10px] py-[2px] rounded-md transition-[5s] hover:text-accentColor">Blog</a>
                <a href="{% url 'contactus' %}" class="nav-login text-white text-[15px] font-medium px-[10px] py-[2px] rounded-md transition-[5s] hover:text-accentColor">Contact Us</a>
                <a href="{% url 'cart' %}" class="nav-login text-white text-[15px] font-medium px-[10px] py-[2px] rounded-md transition-[5s] hover:text-accentColor">Cart</a>
                <a href="{% url 'profile' %}" class="nav-login text-white text-[15px] font-medium px-[10px] py-[2px] rounded-md transition-[5s] hover:text-accentColor">Profile</a>
                <a href="{% url 'feedback' %}" class="nav-login text-white text-[15px] font-medium px-[10px] py-[2px] rounded-md transition-[5s] hover:text-accentColor">Feedback</a>
                <a href="{% url 'aboutus' %}" class="nav-login text-white text-[15px] font-medium px-[10px] py-[2px] rounded-md transition-[5s] hover:text-accentColor">About Us</a>
            </div>
            <div class="nav-right flex items-center gap-3">
                <a href="{% url 'login' %}" class="nav-login text-white text-[15px] font-medium px-[10px] py-[4px] rounded-md transition-[5s] hover:bg-accentColor hover:text-white">Login</a>
                <a href="{% url 'join_us' %}" class="nav-login text-white text-[15px] font-medium px-[10px] py-[4px] rounded-md transition-[5s] bg-accentColor hover:bg-[#ffffff00] hover:text-white">Join Us</a>
            </div>
        </div>
    </div>

    <!-- BANNER -->
    <div class="banner-container bg-background2">
        <div class="banner-wrapper max-w-[1000px] bg-green-90 mx-auto flex justify-center h-[500px] relative">
            <div class="banner-left-container w-[700px] flex flex-col justify-center absolute left-0 translate-y-[-50%] top-[50%]">
                <div class="banner-title text-white font-extrabold text-5xl mb-5">Choose. Order. <br> Enjoy.</div>
                <div class="banner-subtitle-container flex items-center mb-5">
                    <div class="banner-dash w-[30px] h-[2px] bg-accentColor flex items-center mr-2"></div>
                    <div class="banner-subtitle text-white text-xl font-medium">That's what we do</div>
                </div>
                <button class="nav-login text-white text-[20px] font-medium px-[10px] py-[4px] rounded-md transition-[5s] w-[90px] bg-accentColor hover:bg-[#ffffff00] hover:text-white">Browse</button>
            </div>
            <div class="banner-right-container">
                <img class="banner-image h-full object-cover absolute right-0" src="{% static 'images/pngimg.com - fitness_PNG33.png' %}" alt="Banner Image">
            </div>
        </div>
    </div>

    <!-- SECTION -->
    <div class="temp h-[600px]"></div>
</body>
</html>
